# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
csv_file = os.path.join('weather_data.csv')

city_df = pd.read_csv(csv_file)
city_df

,City,Country,Lat,Lon,Date,Max Temp (cs),Humidity,Cloudiness,Wind Speed (mph)
0,Cherskiy,RU,68.7500,161.3000,1611760671,-31.63,84,100,1.52
1,Ahipara,NZ,-35.1667,173.1667,1611760465,17.12,92,30,1.13
2,Hasaki,JP,35.7333,140.8333,1611760671,5.00,65,40,4.63
3,Ushuaia,AR,-54.8000,-68.3000,1611760671,7.00,70,75,7.20
4,Portland,US,45.5234,-122.6762,1611760204,3.33,95,100,2.23
...,...,...,...,...,...,...,...,...,...
550,Forestville,US,38.8451,-76.8750,1611760740,5.00,65,90,4.12
551,Moram,IN,17.8000,76.4667,1611760518,24.84,28,0,2.40
552,Gornopravdinsk,RU,60.0500,69.9000,1611760740,-19.68,92,100,2.52
553,Natal'insk,RU,56.4739,57.8698,1611760740,-8.01,96,95,3.52
554,Keflavik,IS,64.0049,-22.5624,1611760740,1.00,55,75,10.80

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
# Configure gmaps with API key
gmaps.configure(api_key=g_key)

In [37]:
# Use the Lat and Lng as locations and Humidity as the weight.
locations = city_df[["Lat", "Lon"]]
humidity = city_df["Humidity"]

# Add Heatmap layer to map.
fig = gmaps.figure(center=(0, 0), zoom_level=2)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=2)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [38]:
# Create a dataframe with cities that fit my weather conditions criteria
vacay_df = city_df[(city_df['Max Temp (cs)'] >= 21) & 
                   (city_df['Max Temp (cs)'] <= 32) & 
                   (city_df['Humidity'] <= 60) &
                   (city_df['Cloudiness'] <= 40) &
                   (city_df['Wind Speed (mph)'] <= 5)
                  ]
vacay_df

,City,Country,Lat,Lon,Date,Max Temp (cs),Humidity,Cloudiness,Wind Speed (mph)
143,São Filipe,CV,14.8961,-24.4956,1611760690,24.96,60,0,4.13
165,Aswān,EG,24.0934,32.9070,1611760692,23.80,17,0,2.24
182,Gīdam,IN,18.9833,81.4000,1611760694,21.32,60,18,0.62
341,Salta,AR,-24.7859,-65.4117,1611760582,26.00,47,20,1.54
362,Marrakesh,MA,31.6315,-8.0083,1611760678,27.00,29,0,1.54
375,Rivadavia,AR,-33.1905,-68.4608,1611760718,26.00,24,0,3.60
377,Tignère,CM,7.3667,12.6500,1611760718,31.83,13,21,4.02
412,Olavarría,AR,-36.8927,-60.3225,1611760723,25.56,51,2,1.34
511,Somanda,TZ,-3.3667,33.9500,1611760735,27.38,54,34,1.04
525,Buraidah,SA,26.3260,43.9750,1611760737,23.00,35,0,4.12
551,Moram,IN,17.8000,76.4667,1611760518,24.84,28,0,2.40

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure